{% extends "base.html.twig" %}

{% block title %}Etudiant - Modifier{% endblock %}

{% block content %}
    <h4>Modifier</h4>
    <form action="/etudiant/{{ etudiant.getIdEtudiant }}/modifier" method="post">
        <div class="form-group">
            <label for="formGroupExampleInput">Nom utilisateur ({{ etudiant.getLogin }})</label>
            <input type="text" class="form-control" name="utilisateur">
        </div>
        <br>
        <div class="form-group">
            <label for="formGroupExampleInput">Mot de passe</label>
            <input type="text" class="form-control" name="mdp">
        </div>
        <br>
        <div class="form-group">
            <label for="formGroupExampleInput2">Nom ({{ etudiant.getNom }})</label>
            <input type="text" class="form-control" name="nom">
        </div>
        <br>
        <div class="form-group">
            <label for="formGroupExampleInput2">Prenom ({{ etudiant.getPrenom }})</label>
            <input type="text" class="form-control" name="prenom">
        </div>
        <br>
        <div class="form-group">
            <label for="formGroupExampleInput2">Email ({{ etudiant.getEmail }})</label>
            <input type="text" class="form-control" name="email">
        </div>
        <br>
        <button type="submit" class="btn-outline-primary">Modifier</button>
        <a href="/etudiant/{{ etudiant.getIdEtudiant }}">
            <input type="button" value="Annuler" class="btn-danger">
        </a>
        <br>
    </form>
{% endblock %}